<html>
	<head>
		<title>Cecy's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Cecy's Blog</a></h1>
		<div>

		{% for post in posts %}
			<div>
			<p>published: 07.11.2015, 2:26</p>
			<h2><a href=""> My first post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi port</p>
		<div>
		{% endfor %}
		<div>
			<p>published: 08.11.15, 2:30</p>
			<h2><a href="">My second post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi port</p>
		<div>	
	</body>	
</html>
